@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using ExamSystem.Models;

<!-- Header End -->
<div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center my-5 py-5">
        <h1 class="text-white mt-4 mb-4">Learn From Home</h1>
        <h1 class="text-white display-1 mb-5">Education Courses</h1>
        <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
            <form asp-action="Index" asp-controller="Course">
            <div class="input-group">
                <div class="input-group-prepend">


                        <select id="cate" name="cate">
                        <option value="0">All Categories</option>
                        @foreach (Category item in @ViewBag.categories)
                        {
                            if (item.CategoryId == @ViewBag.CategoryID)
                            {
                                <option selected value="@item.CategoryId">
                                    @item.CategoryName
                                </option>
                            }
                            if (item.CategoryId != @ViewBag.CategoryID)
                            {
                                <option value="@item.CategoryId">
                                    @item.CategoryName
                                </option>
                            }

                        }
                    </select>
                </div>
                    <input type="text" id="searchText" name="searchText" class="form-control border-light" style="padding: 30px 25px;" value="@ViewBag.searchText" placeholder="Keyword">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary px-4 px-lg-5">Search</button>
                </div>
                
            </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row mx-0 justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center position-relative mb-5">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
                    <h1 class="display-4">Checkout New Releases Of Our Courses</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (Exam exam in @ViewBag.listExam)
            {
                @if (@ViewBag.User != null)
                {
                    <div class="col-lg-4 col-md-6 pb-4">
                        <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="/Course/CourseDetail?eID=@exam.ExamId">
                            <img class="img-fluid" src="@exam.Pictures" alt="">
                            <div class="courses-text">
                                <h4 class="text-center text-white px-3">
                                    @exam.ExamName
                                </h4>
                                <div class="border-top w-100 mt-3">
                                    <div class="d-flex justify-content-between p-4">
                                        <span class="text-white"><i class="fa fa-user mr-2"></i>@exam.OwnerNavigation.User.Name</span>
                                        <span class="text-white">
                                            <i class="fa fa-star mr-2"></i>@exam.Category.CategoryName
                                            <small>(@exam.Time minutes)</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (@ViewBag.User == null)
                {
                    <div class="col-lg-4 col-md-6 pb-4">
                        <a class="courses-list-item position-relative d-block overflow-hidden mb-2" data-toggle="modal" data-target="#exampleModalCenter">
                            <img class="img-fluid" src="@exam.Pictures" alt="">
                            <div class="courses-text">
                                <h4 class="text-center text-white px-3">
                                    @exam.ExamName
                                </h4>
                                <div class="border-top w-100 mt-3">
                                    <div class="d-flex justify-content-between p-4">
                                        <span class="text-white"><i class="fa fa-user mr-2"></i>@exam.OwnerNavigation.User.Name</span>
                                        <span class="text-white">
                                            <i class="fa fa-star mr-2"></i>@exam.Category.CategoryName
                                            <small>(@exam.Time minutes)</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }

                
            }
           
            
            
        </div>
    </div>
</div>

<!-- Courses End -->
